.gold-tier {
  color: #b8b029
}

.silver-tier {
  color: #606060
}

.bronze-tier {
  color: #835a00
}

.no-tier {
  display: none;
}

.leaderboard-container {
  display: flex;
  justify-content: center;
}

.table-container {
  width: 50%;
}
